body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    #1d2b64 35%, #f8cdda 100%);
}
h1{
    color: #f8cdda;
    text-shadow: 5px 5px 5px black;
}
h4{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-justify: inter-word;
}
h3{
    color: rgb(251, 4, 156);
    text-align: justify;
    text-justify: inter-word;
} 

p{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-justify: inter-word;
}
img{
    filter: drop-shadow(5px 5px 5px #f8cdda );
}
table {
    border-collapse: separate;
    border-spacing: 2px;
    background: #f8cdda;
    color: rgb(52, 122, 228);
 }
 td, th {
    background: #fff;
    color: #000;
 }