body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #72b2e4 0%, 
    #92e1e2 35%, #72b2e4 100%);
    
}
h1{
    color: greenyellow;
    text-shadow: 5px 5px 5px black;
    font-family: 'Rebellion', sans-serif;
                                                                                                
}
h4{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-justify: inter-word;
}
h3{
    color: rgb(251, 4, 156);
    text-align: justify;
    text-justify: inter-word;
} 

p{
    color: rgb(255, 255, 255);
    text-align: justify;
    text-justify: inter-word;
}
img{
    filter: drop-shadow(5px 5px 5px #f8cdda );
}
table {
    border-collapse: separate;
    border-spacing: 2px;
    background: #f8cdda;
    color: rgb(52, 122, 228);
 }
 td, th {
    background: #fff;
    color: #000;
 }